{% extends 'base_page.html' %}


{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">The gaming store</h1>
                    {% block text %}<p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>{% endblock %}
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    {% for product in products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ product.image_url.url }}" alt="Product Image" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                    <!-- Product price-->
                                    <h6 class="mt-4">Price - {{ product.price }} ₴</h6>
                                </div>
                            </div>
                            <form method="post" action="{% url 'add_item_to_cart' product.pk %}">
                                        {% csrf_token %}
                                <div class="d-block mx-auto" style="max-width: 8rem;">
                                    <h6 class="text-center">Quantity:</h6>
                                    <input class="form-control text-center mb-4" id="inputQuantity" type="number" value="1" min="1" name="quantity">
                                </div>

                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent d-flex justify-content-between">
                                    <div>
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product_detail' product_id=product.pk %}">Detail</a></div>
                                    </div>
                                <div>

                                    <div class="text-center">
                                          <button type="submit" class="btn btn-outline-dark mt-auto">
                                            Add to cart
                                          </button>
                                    </div>
                            </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </section>
{% endblock content %}
