{% extends 'base_page.html' %}
{% load static %}

{% block title %}
  Корзина
{% endblock title %}

{% block head %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'store/css/style.css' %}">
{% endblock head %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Корзина</h1>
    {% if items %}
        {% for item in items %}
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img src="{{ item.product.image_url.url }}" class="card-img" alt="{{ item.product.name }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.product.name }}</h5>
                        <p class="card-text">Кількість: {{ item.quantity }}</p>
                        <p class="card-text"><strong>{{ item.amount }} ₴</strong></p>
                        <form method="post" action="{% url 'cart_delete_item' item.pk %}">
                            {% csrf_token %}
                            <button class="btn btn-outline-danger" type="submit">Видалити</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="container mt-4 d-flex justify-content-end align-items-center">
            <h5 class="mr-3 mt-auto">Загальна сума: <strong>{{ cart.amount }} ₴</strong></h5>
            <a class="btn btn-primary checkout-btn" href="{% url 'check_out' %}">Замовити</a>
        </div>
    {% else %}
        <p class="text-center">Ваша корзина пуста!</p>
    {% endif %}
    <div class="mt-5"></div>
</div>
{% endblock content %}
