{% extends 'base_page.html' %}
{% load static %}

{% block header %}

    <header class="bg-dark py-2">
        <div class="text-center" style="width: 100%; padding: 0; margin: 0;">
            <img src="{% static 'images/Screenshot_1.jpg' %}" alt="Computer store" style="width: 100%; height: auto;">
        </div>
    </header>

{% endblock header %}


{% block content %}
<!-- Header-->


<!-- Filter Form -->
{% block sort %}{% endblock sort %}



<!-- Section-->
<section>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            {% block loop %}

            {% for product in products %}

            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{ product.image_url.url }}" alt="Product Image" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                            <!-- Product price-->
                            <h6 class="mt-4">Ціна - {{ product.price }} ₴</h6>
                        </div>
                    </div>
                    <form method="post" action="{% url 'add_item_to_cart' product.pk %}">
                        {% csrf_token %}
                        <div class="d-block mx-auto" style="max-width: 8rem;">
                            <h6 class="text-center">Кількість:</h6>
                            <input class="form-control text-center mb-4" id="inputQuantity" type="number" value="1" min="1" name="quantity">
                        </div>

                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent d-flex justify-content-between">
                            <div>
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product_detail' product_id=product.pk %}">Деталі</a></div>
                            </div>
                            <div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-outline-dark mt-auto">Додати</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% endfor %}

            {% endblock loop %}

        </div>
    </div>
</section>
{% endblock content %}
